body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  background: white;
  font-family: 'Muli', sans-serif; }

#main-wrapper {
  position: absolute;
  max-height: 100vh;
  overflow: scroll; }

fieldset {
  padding: 0px;
  margin: 0px;
  margin-bottom: 40px;
  border: 0px; }

.simple {
  display: none; }

.advanced {
  display: block; }

#instaFoamEstimator {
  padding: 20px;
  margin-bottom: 200px; }

.customButton {
  display: flex;
  justify-content: space-evenly;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50vw;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0.75px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px; }
  .customButton #addSurfaceButtonIcon {
    font-weight: 800;
    font-size: 25px;
    margin-top: -2px;
    line-height: 100%; }

input {
  height: 50px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 20px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.75px solid rgba(0, 0, 0, 0.2); }

.radioButton-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 12px; }
  .radioButton-Wrapper label {
    margin-bottom: 0px; }

select {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  border: 0.75px solid rgba(0, 0, 0, 0.2);
  text-indent: 2%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%; }

#advancedButtonWrapperBlock {
  margin-bottom: 50px;
  padding-top: 30px; }

#advancedButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 6px;
  border: 0.75px solid rgba(0, 0, 0, 0.2); }
  #advancedButtonWrapper h3 {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px; }
  #advancedButtonWrapper .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px; }
  #advancedButtonWrapper .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  #advancedButtonWrapper .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  #advancedButtonWrapper .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  #advancedButtonWrapper input:checked + .slider {
    background-color: #2196F3; }
  #advancedButtonWrapper input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  #advancedButtonWrapper input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }

label {
  margin-bottom: 10px; }

legend {
  margin-bottom: 15px;
  font-size: 25px; }

.title {
  font-size: 16px;
  margin-bottom: 6px; }

.subtitle {
  font-size: 12px;
  margin-right: 4px; }

#instaFoamEstimator {
  padding: 20px; }

p {
  margin-top: 0px;
  padding-left: 5px; }

strong {
  padding-left: 5px;
  margin-bottom: 15px; }

/*
h3 {
    margin-bottom: 15px;

    font-weight: 400;
    text-align: center;
}
*/
ul {
  font-size: 12px; }

.clickForMoreText {
  color: rgba(0, 0, 0, 0.3); }

.inputBlock, .advancedInputBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.75px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.04); }

.advancedInputBlock {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }
  .advancedInputBlock input[type=number] {
    margin-bottom: 20px; }
  .advancedInputBlock .advancedInputs-Wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px; }

.areaTag {
  width: 240px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e7e7e7;
  text-align: left;
  font-weight: 400;
  border-top: 0.75px solid rgba(0, 0, 0, 0.2);
  border-left: 0.75px solid rgba(0, 0, 0, 0.2);
  border-right: 0.75px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0px 0px; }

.resultBlock {
  position: absolute;
  bottom: 45px;
  width: 100%;
  max-width: 490px;
  padding-top: 10px;
  background-color: #e7e7e7;
  box-shadow: 0px -5px 10px 3px rgba(0, 0, 0, 0.1);
  border: 0.75px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0px 0px; }
  .resultBlock .resultsBlock-MainTitle {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.2); }
  .resultBlock .simpleResultBlock {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 25px; }
    .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper {
      display: none;
      width: 100%;
      flex-direction: row; }
      .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper .resultsBlock-Wrapper {
        width: auto;
        flex: 1;
        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 15px;
        padding-right: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        border: 0.75px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px; }
        .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper .resultsBlock-Wrapper .resultsBlock-FoamWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 15px; }
          .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper .resultsBlock-Wrapper .resultsBlock-FoamWrapper .resultsBlock-ValueWrapper {
            display: flex; }
        .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper .resultsBlock-Wrapper .resultsBlock-Divider {
          width: 100%;
          height: 1px;
          margin-top: 22px;
          background-color: rgba(0, 0, 0, 0.2); }
        .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper .resultsBlock-Wrapper .resultsBlock-MoreInfoList {
          display: none;
          flex-direction: column;
          margin-right: 0px;
          margin-left: 0px;
          margin-top: 20px;
          padding-left: 20px;
          padding-right: 0px; }
          .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper .resultsBlock-Wrapper .resultsBlock-MoreInfoList li {
            margin-bottom: 10px; }
      .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper #simpleResultsBlock-MoreInfoButton {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 4px;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px; }
        .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper #simpleResultsBlock-MoreInfoButton #simpleResultsBlock-MoreInfoWrapperContent {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .resultBlock .simpleResultBlock #resultsBlock-ByFoamBreakdown-Wrapper #simpleResultsBlock-MoreInfoButton #simpleResultsBlock-MoreInfoWrapperContent #simpleResultsBlock-MoreInfoArrow {
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat; }
  .resultBlock .divider {
    background-color: rgba(0, 0, 0, 0.2); }
  .resultBlock .advancedResultBlock {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 25px; }
    .resultBlock .advancedResultBlock #advancedResultBlock-Title {
      text-align: center; }
  .resultBlock .quickResultBlock-Wrapper {
    display: flex;
    justify-content: space-evenly; }
    .resultBlock .quickResultBlock-Wrapper .resultsBlock-ValueWrapper {
      display: flex; }
      .resultBlock .quickResultBlock-Wrapper .resultsBlock-ValueWrapper .resultsBlock-ValueLabel {
        margin-right: 10px; }

.advancedResults-Wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.075);
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0.75px solid rgba(0, 0, 0, 0.2); }
  .advancedResults-Wrapper .advancedResultsBlock-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
  .advancedResults-Wrapper .left {
    border-right: 0.75px solid rgba(0, 0, 0, 0.2);
    border-right-width: 1.5px; }

#sendToInstaFoamButton-Wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%; }
  #sendToInstaFoamButton-Wrapper .divider {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; }
  #sendToInstaFoamButton-Wrapper #sendToInstaFoamButton-Title {
    margin-bottom: 15px;
    font-size: 18px; }

#emailCollection-Form {
  height: auto;
  width: 100%;
  display: none;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px; }
  #emailCollection-Form input [type=email] {
    height: 50px;
    width: auto;
    flex: 1;
    -webkit-appearance: none;
    border: 0.75px solid rgba(0, 0, 0, 0.2); }
  #emailCollection-Form #emailCollection-CheckboxWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    -webkit-margin-top-collapse: 0px; }
    #emailCollection-Form #emailCollection-CheckboxWrapper input {
      margin-right: 10px; }
  #emailCollection-Form #emailCollection-Button {
    width: auto;
    flex: 1;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
    background-color: #2196F3;
    border-radius: 10px; }

#paragraph1 {
  margin-bottom: 45px; }

#financingEstimator {
  max-width: 450px; }
  #financingEstimator .inputBlock, #financingEstimator .advancedInputBlock {
    width: auto; }

#surface1 {
  display: none; }

#surface2 {
  display: none; }

#surface3 {
  display: none; }

#surface4 {
  display: none; }
